.audio-panel{

position:fixed;

bottom:16px;
right:16px;

display:flex;

align-items:center;

gap:12px;

padding:12px 18px;

border-radius:18px;

background:
rgba(0,0,0,.55);

backdrop-filter:
blur(10px);

z-index:99999;
}

.audio-panel button{

border:none;

padding:10px 16px;

border-radius:12px;

cursor:pointer;

font-size:16px;

font-weight:900;

color:white;

background:
linear-gradient(
45deg,
#2d8cff,
#66f3ff
);
}

.audio-panel input{

width:140px;
}