.background-fx{

    position:fixed;

    inset:0;

    overflow:hidden;

    pointer-events:none;

    z-index:-1;
}

.star{

    position:absolute;

    width:3px;
    height:3px;

    border-radius:50%;

    background:white;

    opacity:.6;

    animation:
    starFloat 5s infinite;
}

@keyframes starFloat{

    0%{

        opacity:.2;

        transform:
        translateY(0);
    }

    50%{

        opacity:1;

        transform:
        translateY(-20px);
    }

    100%{

        opacity:.2;

        transform:
        translateY(0);
    }
}

.pause-menu{

    position:fixed;

    inset:0;

    display:flex;

    justify-content:center;
    align-items:center;

    background:
    rgba(0,0,0,.75);

    z-index:999999;
}

.hidden{

    display:none;
}

.pause-card{

    width:420px;

    padding:40px;

    border-radius:28px;

    background:
    rgba(20,20,30,.95);

    display:flex;

    flex-direction:column;

    gap:20px;
}

.pause-card h1{

    text-align:center;

    font-size:48px;

    color:#67f0ff;
}

.pause-card button{

    border:none;

    padding:18px;

    border-radius:18px;

    font-size:22px;

    font-weight:900;

    cursor:pointer;

    background:
    linear-gradient(
        45deg,
        #2d8cff,
        #66f3ff
    );

    color:white;
}

.ultimate-rage{

    animation:
    ultimateRage 2s infinite;
}

@keyframes ultimateRage{

    0%{

        filter:
        hue-rotate(0deg)
        brightness(1);
    }

    50%{

        filter:
        hue-rotate(-35deg)
        brightness(1.25);
    }

    100%{

        filter:
        hue-rotate(0deg)
        brightness(1);
    }
}